version: 2.1
orbs:
  python: circleci/python@0.2.1
jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.6.4
        environment:
          PIPENV_VENV_IN_PROJECT: true
          DATABASE_URL: postgresql://root@localhost/pur_beurre?sslmode=disable
      - image: circleci/postgres:9.6.2
        environment:
          POSTGRES_USER: pur_beurre
          POSTGRES_DB: pur_beurre
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps10-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: |
            sudo pip install pipenv
            pipenv install
      - save_cache:
          key: deps10-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - '.venv'
            - '/usr/local/bin'
            - '/usr/local/lib/python3.6/site-packages'
      - python/load-cache
      - python/install-deps
      - python/save-cache            
      - run:
          command: |
            cd pur_beurre && pipenv run python manage.py test

workflows:
  main:
    jobs:
      - build-and-test
